body {
    margin: 0;
    background: white;
    font-family: sans-serif;
    height: 100%;
}

.wrapper {
    width: 800px;
    margin: 30px auto;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.card-red {
    background-color: red;
    height: 300px;
    width: 200px;
    cursor: pointer;
}

.card-blue {
    background-color: skyblue;
    height: 300px;
    width: 200px;
    cursor: pointer;
}

.card-green {
    background-color: green;
    height: 300px;
    width: 200px;
    cursor: pointer;
}

.card-brown {
    background-color: #753c11;
    height: 300px;
    width: 200px;
    cursor: pointer;
}

.card-black {
    background-color: black;
    height: 300px;
    width: 200px;
}

.row {

    display: flex;
    justify-content: center;
}

.row > .column {
    padding: 0 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button-red {
    background-color: red;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    height: 300px;
    width: 200px;
    cursor: pointer;
}

.button-blue {
    background-color: skyblue;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    height: 300px;
    width: 200px;
    cursor: pointer;
}

.button-green {
    background-color: green;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    height: 300px;
    width: 200px;
    cursor: pointer;
}

.button-brown {
    background-color: #753c11;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    height: 300px;
    width: 200px;
    cursor: pointer;
}